<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mi Pagina</title>
    <link rel ="stylesheet" href="assets/css/estilos.css">
    <link rel ="stylesheet" href="assets/css/container.css">

  </head>
  <body>
    <header>
      <h2>Página de presentación</h2>
    </header>     
    <main>
        <nav>
            <a href="/">Perfil</a>
            <a href="/gustos">Gustos y preferencias</a>
            <a href="/metas">Metas y proyectos</a>
        </nav>
        <div class ="homeContainer">
            <div>
                <h1>Error 404, página no encontrada</h1>
            </div>

        </div>
    </main>
    <footer>
        &copy; 2023 ITESO
    </footer>
  </body>
</html>