<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mi Pagina</title>
    <link rel ="stylesheet" href="assets/css/estilos.css">
    <link rel ="stylesheet" href="assets/css/container.css">

  </head>
  <body>
    <header>
      <h2>Página de presentación</h2>
    </header>    
    <main>
        <!-- <div id="box"></div> -->
        <nav>
          <a href="/">Perfil</a>
          <a href="/metas">Metas y proyectos</a>
        </nav>

        <div class= "container">
 
            <div>
              <div class="section">
                <h3>Gustos y pasatiempos</h3>
              </div>
                <li>Jugar videojuegos</li>
                <li>Escultura en arcilla polimérica</li>
                <li>Películas de terror</li>
                <li>La programación y las matemáticas</li>
                <li>Cocinar</li>

            </div>

            <div>
              <div class="section">
                <h3>Cosas favoritas</h3>
              </div>
              <li>Comida: Sushi</li>
              <li>Color: Azul</li>
              <li>Películas: The Thing(1982), Snowpiercer, The Babadook</li>
              <li>Videojuegos: Persona 5, Ocarina of Time, Banjo-Tooie</li>
              <li>Lenguajes de programación: Java, C</li>
            </div>

            <div>
              <div class="section">
                <h3>Cosas que me desagradan</h3>
              </div>

              <li>Comida: La mayonesa, la crema, el aguacate</li>
              <li>Los lugares ruidosos</li>
              <li>El diseño gráfico</li>
              <li>Los deportes con balón</li>
            </div>
            
        </div>
    </main>
    <footer>
        &copy; 2023 ITESO
    </footer>
  </body>
</html>