<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mi Pagina</title>
    <link rel ="stylesheet" href="assets/css/estilos.css">
    <link rel ="stylesheet" href="assets/css/container.css">

  </head>
  <body>
    <header>
      <h2>Página de presentación</h2>
    </header>    
    <main>

        <nav>
          <a href="/">Perfil</a>
          <a href="/gustos">Gustos y preferencias</a>
        </nav>
        <!-- <div id="box"></div> -->
        <div class ="container">

            <div>
              <div class="section">
                <h3>Proyectos realizados</h3>
              </div>
              <li>Modelo de infusora de insulina con el microcontrolador 8051</li>
              <li>Página web de exámenes tipo kahoot</li>
              <li>Diseño de un procesador RISC-V para calcular el algoritmo de torres de hanoi</li>
              <li>Implementación con interfaz del algoritmo de Dijkstra en java</li>
            </div>

            <div>
              <div class="section">
                <h3>Metas</h3>
              </div>
              <li>Conseguir un puesto como desarrollador en el área de QA o de Machine Learning</li>
              <li>Aprender francés a un nivel B2</li>
              <li>Mejorar mis habilidades en la escultura</li>
            </div>
            
            <div>
              <div class="section">
                <h3>Contacto</h3>
              </div>
              <label>Correo: carlos.garay@iteso.mx</label>
              <label>Usuario de github: carlos-garay</label>

            </div>
        </div>
    </main>
    <footer>
        &copy; 2023 ITESO
    </footer>
  </body>
</html>