<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mi Pagina</title>
    <link rel ="stylesheet" href="assets/css/estilos.css">
    <link rel ="stylesheet" href="assets/css/container.css">

  </head>
  <body>
    <header>
      <h2>Página de presentación</h2>
    </header>    
    <main>
        <!-- <div id="box"></div> -->
        <nav>
          <a href="/gustos">Gustos y preferencias</a>
          <a href="/metas">Metas y proyectos</a>
        </nav>

        <div class ="homeContainer">
            <div>
              <div class="section">
                <h3>Mi perfil</h3>
              </div>
              <img src ="assets/FotoPerfil.PNG" alt="Foto de perfil" width="200" height="200">
              <div></div>
              <label>Mi nombre es Carlos Garay, nací el 8 de abril del 2002. Voy en sexto semestre de la carrera de Ingeniería en Sistemas Computacionales en el ITESO</label>
            </div>

        </div>
    </main>
    <footer>
        &copy; 2023 ITESO
    </footer>
  </body>
</html>