@import "colores";
@import "mixins";

html,body{
    @include nomargin;
    font-family: arial;
}

body {
    height: 100%;
}


header, footer {
    height: 80px;
    width: 100%;
    background-color: $color-header-footer;
    padding-top: 20px;
}

h2{
    @include white_title
}

h3{
    text-align:center;
}

main {
    max-width: 1024px;
    margin: 0 auto;
}
