<main>

    <div class ="container">
        
        <div>
          <div class="section">
            <h3>Proyectos</h3>
          </div>
          <img src ="./../../../assets/dijkstra.png" alt="1er proyecto" width=auto height="150"><br>
          <label>Implementación de algortimo de dijkstra con una interfaz gráfica simple en java</label><br><br>
          <img src ="./../../../assets/infusora.JPG" alt="2do proyecto" width=auto height="150"><br>
          <label>Modelo de una bomba infusora de insulina en el microcontrolador 8051</label><br><br>
          <img src ="./../../../assets/kahoot.JPG" alt="3er proyecto" width=auto height="150"><br>
          <label>Página web usando javascript para crear y responder exámenes parecido a Kahoot</label><br><br>
          <img src ="./../../../assets/pinball.jpg" alt="4to proyecto" width=auto height="200"><br>
          <label>Máquina de pinbal utilizando arduino</label><br><br>
          

        </div>
    </div>
</main>